<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/grid-layout.css">
    <script src="https://kit.fontawesome.com/0f7cc92cd1.js" crossorigin="anonymous"></script>
    <script defer src="~/js/script.js"></script>
    <script defer src="~/js/slider.js"></script>
    <title>Fabsat</title>
</head>

<body>
    <header>
        <nav>
            <label id="logo"><a href="@Url.Action("Index","Home")">Fab<span>Set</span></a></label>
            <ul id="navbar">
                <li class="nav-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="nav-item"><a href="@Url.Action("Dresses","Home")">Dresses</a></li>
                <li class="nav-item"><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
            </ul>
            <div>
                <a id="sign" href="@Url.Action("Signup","Home")">SignUp</a>
                <div class="ham-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div id="foot-container">
            <div>
                <a href="#">
                    <img class="social-icons" src="~/img/facebook.svg" alt="">
                </a>
                <a href="#">
                    <img class="social-icons" src="~/img/instagram.svg" alt="">
                </a>
                <a href="#">
                    <img class="social-icons" src="~/img/pinterest.svg" alt="">
                </a>
            </div>
            <div>
                <p>useful links</p>
                <ul>
                    <li><a href="#">New</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">sale</a></li>
                </ul>
            </div>
        </div>
        <p>&copy;Fabsat all rights reserved. Designed by Qasim</p>
    </footer>
</body>

</html>